.userprofile-container {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    opacity: 0;

    animation: user-profile-intro 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--transition-cubicbezier);
}
.userprofile-container >.stats-grp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.1vw;
    padding: .25vw;
}

@keyframes user-profile-intro{
    from{
        opacity: 0;
        filter: blur(5px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}