.item-container{
    width: 7vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: .5vh;
    place-content: center;
}
.item-container > .item-body{
    background: transparent;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    width: fit-content;
}
.item-container > .item-body:is(.equip){
    background: gray;
    border: 8px var(--color-btn-bg);
    border-style: inset;
}

/* .item-container > h4{
    color: var(--color-darkish-blue);
    word-wrap: break-word;
} */

/* .item-container > .equipbtn{
    height: 30px;
    width: 100px;
    place-items: center;
    overflow: hidden;
} */

/* .item-container > .equipbtn:is(.no-hover){
    background: var(--color-darkish-blue);
    border: 0;
} */

/* .item-container > .equipbtn > img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: red;
} */