.titlescreen-container>.background {
    background-image: url(../../assets/login_page_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titlescreen-container>.background>.main-title {
    max-height: 40vh;
    max-width: 40vw;
    transform: scale(45vh, 45vw);
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, 0.1);
    padding: 0.3vw;
    border-radius: 1vw;

    animation-name: main-title-intro, main-title-anim;
    animation-duration: 2s, 1.5s;
    animation-delay: 0s, 2.5s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear, forwards;

}

.main-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: -42vw;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-30deg);
    transition: 0.5s;

    animation: shining-animation 7s forwards infinite;
}

.main-title:hover:before {
    left: 42vw;
    background: rgba(255, 255, 255, 0.1);
}

@keyframes main-title-intro {
    from {
        transform: translateY(-100%);
        opacity: 0;
        filter: blur(10px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes main-title-anim {
    50% {
        transform: translateY(-5%);
        filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.5));
    }
}

.titlescreen-body {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.titlescreen-body>.auth-char-avatar {
    transform: scale(1.5);
}

.titlescreen-body>.char-text-box>.box {
    min-width: fit-content;
    min-height: 70px;
    max-height: 20vh;
    max-width: 18vw;
    overflow: visible;
    background: var(--color-orange);
    position: relative;
    padding: 1rem;
    top: 1vh;
    left: 1vw;
    border: none;
}

.char-text-box>.box>.box-content {
    min-width: fit-content;
    min-height: fit-content;
    text-shadow: 2px 2px black;
    transition: linear;
}

.char-text-box>.box>.box-content>h5 {
    font-weight: 100;
    font-size: 3vw;
}

.char-text-box>.box>.box-content>h4 {
    font-family: var(--alt-font);
    font-weight: 700;
    font-size: 3.5vw;
    margin-top: -2vh;
}

.titlescreen-body>.char-text-box>.title-screen-btn{
    overflow: hidden;
}
.title-screen-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20vw;
    width: 100%;
    height: 100%;
    background: var(--color-dark-purple);
    transition: 0.8s ease-in-out;
    z-index: 1;
}

.title-screen-btn:hover:before {
    left: 20vw;
    background: var(--color-orange);
}
.titlescreen-body>.char-text-box>.title-screen-btn:not(.no-hover):hover {
    transform: scale(1.2);
    background: var(--color-dark-purple);
    box-shadow: none;
}

.titlescreen-body>.char-text-box>.title-screen-btn:not(.no-hover):hover>.box-content {
    color: var(--color-light-yellow);
    transform: scale(1.1);
    text-shadow: none;
}

.titlescreen-body>.char-text-box>.title-screen-btn:not(.no-hover):hover::after {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(5px);
}